<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Trace" />
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>

      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <security>
        <requestFiltering allowDoubleEscaping="false" removeServerHeader="true">
          <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="20480" />

          <verbs allowUnlisted="true" applyToWebDAV="false">
            <clear />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>

      <aspNetCore processPath="bin\Debug\net8.0\EffortEntry.Services.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>